/* D:\myblog\otamot-blog\_sass\custom.scss */

#sakana-widget {
    position: fixed !important; 
    right: 10px !important;
    bottom: 10px !important;
    z-index: 99999 !important; 
    visibility: visible !important;
}